@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    background-color: #0f0d06;
    box-sizing: border-box;
    color: #c2870c;
    padding: 0%;
    margin: 0;
    font-family: "Lilita One","Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin: 0%;
}
